In [1]:
import os
# Specify the new directory path
new_directory_path = r"C:\Users\subag\Downloads\Airline_sat"

# Change the working directory
os.chdir(new_directory_path)

# Verify the change
print("New Working Directory:", os.getcwd())

New Working Directory: C:\Users\subag\Downloads\Airline_sat

In [2]:
import pandas as pd
import numpy as np

# .csv file must be in the same folder as the python file
file_test = r"C:\Users\subag\Downloads\Airline_sat\test.csv"
file_train = r"C:\Users\subag\Downloads\Airline_sat\train.csv"

try:
    # Attempt to read the CSV file into a DataFrame
    df_test = pd.read_csv(file_test)
    df_train = pd.read_csv(file_train)
    
    # If successful, print a success message
    print('Data read into the data frame df!')
except Exception as e:
    # If unsuccessful, print an error message
    print(f'Failed to retrieve data from the Excel file. Error: {e}')

Data read into the data frame df!

In [3]:
pip install ydata-profiling

Requirement already satisfied: ydata-profiling in c:\users\subag\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: scipy<1.14,>=1.4.1 in c:\users\subag\anaconda3\lib\site-packages (from ydata-profiling) (1.11.4)
Requirement already satisfied: pandas!=1.4.0,<3,>1.1 in c:\users\subag\anaconda3\lib\site-packages (from ydata-profiling) (2.1.4)
Requirement already satisfied: matplotlib<3.10,>=3.5 in c:\users\subag\appdata\roaming\python\python312\site-packages (from ydata-profiling) (3.7.5)
Requirement already satisfied: pydantic>=2 in c:\users\subag\anaconda3\lib\site-packages (from ydata-profiling) (2.5.3)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\subag\anaconda3\lib\site-packages (from ydata-profiling) (6.0.1)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\subag\anaconda3\lib\site-packages (from ydata-profiling) (3.1.4)
Requirement already satisfied: visions<0.7.7,>=0.7.5 in c:\users\subag\anaconda3\lib\site-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (0.7.6)
Requirement already satisfied: numpy<2.2,>=1.16.0 in c:\users\subag\anaconda3\lib\site-packages (from ydata-profiling) (1.26.4)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\subag\anaconda3\lib\site-packages (from ydata-profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\subag\anaconda3\lib\site-packages (from ydata-profiling) (0.12.4)
Requirement already satisfied: requests<3,>=2.24.0 in c:\users\subag\anaconda3\lib\site-packages (from ydata-profiling) (2.32.2)
Requirement already satisfied: tqdm<5,>=4.48.2 in c:\users\subag\anaconda3\lib\site-packages (from ydata-profiling) (4.66.4)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in c:\users\subag\anaconda3\lib\site-packages (from ydata-profiling) (0.13.2)
Requirement already satisfied: multimethod<2,>=1.4 in c:\users\subag\anaconda3\lib\site-packages (from ydata-profiling) (1.12)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\subag\anaconda3\lib\site-packages (from ydata-profiling) (0.14.2)
Requirement already satisfied: typeguard<5,>=3 in c:\users\subag\anaconda3\lib\site-packages (from ydata-profiling) (4.3.0)
Requirement already satisfied: imagehash==4.3.1 in c:\users\subag\anaconda3\lib\site-packages (from ydata-profiling) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.3 in c:\users\subag\anaconda3\lib\site-packages (from ydata-profiling) (1.9.3)
Requirement already satisfied: dacite>=1.8 in c:\users\subag\anaconda3\lib\site-packages (from ydata-profiling) (1.8.1)
Requirement already satisfied: numba<1,>=0.56.0 in c:\users\subag\anaconda3\lib\site-packages (from ydata-profiling) (0.59.1)
Requirement already satisfied: PyWavelets in c:\users\subag\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (1.5.0)
Requirement already satisfied: pillow in c:\users\subag\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (10.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\subag\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (2.1.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\subag\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\subag\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\subag\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (4.51.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\subag\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\subag\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (23.2)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\subag\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\subag\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (2.9.0.post0)
Requirement already satisfied: llvmlite<0.43,>=0.42.0dev0 in c:\users\subag\anaconda3\lib\site-packages (from numba<1,>=0.56.0->ydata-profiling) (0.42.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\subag\anaconda3\lib\site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\subag\anaconda3\lib\site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2023.3)
Requirement already satisfied: joblib>=0.14.1 in c:\users\subag\anaconda3\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.3.2)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\subag\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (0.6.0)
Requirement already satisfied: pydantic-core==2.14.6 in c:\users\subag\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (2.14.6)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\subag\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (4.11.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\subag\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\subag\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\subag\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\subag\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2024.6.2)
Requirement already satisfied: patsy>=0.5.6 in c:\users\subag\anaconda3\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (0.5.6)
Requirement already satisfied: colorama in c:\users\subag\anaconda3\lib\site-packages (from tqdm<5,>=4.48.2->ydata-profiling) (0.4.6)
Requirement already satisfied: attrs>=19.3.0 in c:\users\subag\anaconda3\lib\site-packages (from visions<0.7.7,>=0.7.5->visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (23.1.0)
Requirement already satisfied: networkx>=2.4 in c:\users\subag\anaconda3\lib\site-packages (from visions<0.7.7,>=0.7.5->visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (3.2.1)
Requirement already satisfied: six in c:\users\subag\anaconda3\lib\site-packages (from patsy>=0.5.6->statsmodels<1,>=0.13.2->ydata-profiling) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
from ydata_profiling import ProfileReport
profile = ProfileReport(df_train, title="Pandas Profiling Report")
profile.to_file("EDA_crime_data.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [5]:
pd.set_option('display.max_columns', None)

In [6]:
df_train.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,5,3,5,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,1,3,1,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,5,5,5,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,2,2,2,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,4,5,5,3,3,4,4,3,3,3,0,0.0,satisfied

In [7]:
df_train = df_train.drop(columns=['Unnamed: 0'])

In [8]:
df_train.shape

(103904, 24)

In [9]:
df_train.isnull().sum()

id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             310
satisfaction                           0
dtype: int64

In [10]:
df_test.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,3,4,3,4,3,5,5,5,5,2,5,5,50,44.0,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,3,1,5,4,5,4,4,4,4,3,4,5,0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,2,4,2,2,2,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,0,2,3,4,4,1,1,1,1,3,1,4,0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,4,3,4,1,2,2,2,2,2,4,2,4,0,20.0,satisfied

In [11]:
df_test = df_test.drop(columns=['Unnamed: 0'])

In [12]:
df_test.shape

(25976, 24)

In [13]:
df_test.isnull().sum()

id                                    0
Gender                                0
Customer Type                         0
Age                                   0
Type of Travel                        0
Class                                 0
Flight Distance                       0
Inflight wifi service                 0
Departure/Arrival time convenient     0
Ease of Online booking                0
Gate location                         0
Food and drink                        0
Online boarding                       0
Seat comfort                          0
Inflight entertainment                0
On-board service                      0
Leg room service                      0
Baggage handling                      0
Checkin service                       0
Inflight service                      0
Cleanliness                           0
Departure Delay in Minutes            0
Arrival Delay in Minutes             83
satisfaction                          0
dtype: int64

In [14]:
print(df_train.columns,df_test.columns)

Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object') Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

In [15]:
#df_train['Arrival Delay in Minutes'].unique()

In [16]:
df_missing = df_train[df_train['Arrival Delay in Minutes'].isnull()]
df_not_missing = df_train[~df_train['Arrival Delay in Minutes'].isnull()]
df_not_missing.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,5,3,5,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,1,3,1,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,5,5,5,5,4,3,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,2,2,2,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,4,5,5,3,3,4,4,3,3,3,0,0.0,satisfied

In [17]:
import matplotlib.pyplot as plt

In [18]:
def plot_scatter(data_frame,x_value,y_value,alpha):
    plt.scatter(data_frame[x_value], data_frame[y_value], alpha=alpha)
    plt.xlabel(x_value)
    plt.ylabel(y_value)
    plt.title(f'{x_value} vs. {y_value}')
    plt.tight_layout()
    plt.show()

In [19]:
plt.figure(figsize=(10, 6))
plot_scatter(df_not_missing,'Departure Delay in Minutes','Arrival Delay in Minutes',0.5)

C:\Users\subag\AppData\Local\Temp\ipykernel_30748\3542036024.py:7: UserWarning: Matplotlib is currently using module://matplotlib_inline.backend_inline, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [20]:
from scipy import stats

In [21]:
def anova_value(data_frame,x_value,y_value):
    numb_unique = data_frame[x_value].nunique()
    categories = [data_frame[data_frame[x_value] == i][y_value] for i in range(numb_unique)]
    anova_result = stats.f_oneway(*categories)
    return anova_result

In [22]:
#anova_value(df_not_missing,'Baggage handling','Arrival Delay in Minutes')#not sure why this is happening need attention

In [23]:
#df_not_missing['Baggage handling'].nunique()

In [24]:
not_miss_var = ['Flight Distance','Departure/Arrival time convenient','Gate location','Online boarding','Checkin service','Departure Delay in Minutes']
#not_miss_var = ['Flight Distance','Departure/Arrival time convenient','Gate location','Online boarding','Baggage handling','Checkin service','Departure Delay in Minutes','Arrival Delay in Minutes']

In [25]:
for mis_var in not_miss_var:
    x_value = mis_var
    y_value = 'Arrival Delay in Minutes'
    data_frame = df_not_missing
    if data_frame[x_value].nunique()<7:
        ANOVA_val = anova_value(data_frame,x_value,y_value)
        print(f'ANOVA value for {mis_var} is {ANOVA_val}')

ANOVA value for Departure/Arrival time convenient is F_onewayResult(statistic=5.221002247361213, pvalue=8.52578716983651e-05)
ANOVA value for Gate location is F_onewayResult(statistic=2.3566467917492777, pvalue=0.03788919712208852)
ANOVA value for Online boarding is F_onewayResult(statistic=39.0310821746488, pvalue=3.374796549097471e-40)
ANOVA value for Checkin service is F_onewayResult(statistic=27.271392477832478, pvalue=1.1103135372915799e-27)

In [26]:
#not_miss_var.remove('Baggage handling','Arrival Delay in Minutes')

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [28]:
X = df_not_missing[not_miss_var]
y = df_not_missing['Arrival Delay in Minutes']
    
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=43)
model = LinearRegression()

model.fit(X_train, y_train)
y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 103.77287150059293
R-squared: 0.9315746766532781

In [29]:
df_missing = df_missing.copy()
df_missing['Arrival Delay in Minutes'] = model.predict(df_missing[not_miss_var]).round().astype(int)
df_missing.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
213,49608,Female,Loyal Customer,38,Business travel,Eco,109,5,3,3,3,5,5,5,5,5,2,4,1,1,5,31,31,satisfied
1124,73442,Male,Loyal Customer,53,Personal Travel,Eco,1012,3,2,3,4,4,3,4,4,4,4,4,3,3,4,38,38,neutral or dissatisfied
1529,71178,Male,Loyal Customer,39,Business travel,Business,733,2,5,5,5,2,4,3,2,2,2,2,2,2,3,11,12,neutral or dissatisfied
2004,72940,Female,disloyal Customer,26,Business travel,Business,1035,3,3,3,1,2,3,2,2,3,3,4,5,5,2,41,41,neutral or dissatisfied
2108,116374,Female,Loyal Customer,24,Personal Travel,Eco,417,2,1,2,2,5,2,5,5,1,4,2,1,2,5,1,2,neutral or dissatisfied

In [30]:
df_train.set_index('id', inplace=True)
df_missing.set_index('id', inplace=True)
df_train.update(df_missing[['Arrival Delay in Minutes']])
df_train.reset_index(inplace=True)

In [31]:
df_train.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,5,3,5,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,1,3,1,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,5,5,5,5,4,3,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,2,2,2,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,4,5,5,3,3,4,4,3,3,3,0,0.0,satisfied

In [32]:
df_train.isnull().sum().sum()

0

In [33]:
df_test_missing = df_test[df_test['Arrival Delay in Minutes'].isnull()]
df_test_missing.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
516,107365,Female,Loyal Customer,21,Personal Travel,Eco,632,1,5,1,4,2,1,4,2,4,2,5,4,5,2,9,NaN,neutral or dissatisfied
656,108648,Male,Loyal Customer,9,Personal Travel,Eco,762,2,5,2,2,4,2,1,4,2,5,2,5,2,4,51,NaN,neutral or dissatisfied
1071,16797,Male,disloyal Customer,25,Business travel,Eco,1017,3,4,4,5,5,4,5,5,2,5,2,3,2,5,126,NaN,neutral or dissatisfied
1224,30090,Male,Loyal Customer,7,Personal Travel,Eco,399,4,5,4,4,4,4,4,4,4,3,1,1,4,4,0,NaN,neutral or dissatisfied
1589,41924,Female,Loyal Customer,58,Business travel,Eco,129,5,3,3,3,3,5,5,5,5,5,5,3,5,5,3,NaN,satisfied

In [34]:
df_test_missing = df_test_missing.copy()
df_test_missing['Arrival Delay in Minutes'] = model.predict(df_test_missing[not_miss_var]).round().astype(int)
df_test_missing.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
516,107365,Female,Loyal Customer,21,Personal Travel,Eco,632,1,5,1,4,2,1,4,2,4,2,5,4,5,2,9,10,neutral or dissatisfied
656,108648,Male,Loyal Customer,9,Personal Travel,Eco,762,2,5,2,2,4,2,1,4,2,5,2,5,2,4,51,51,neutral or dissatisfied
1071,16797,Male,disloyal Customer,25,Business travel,Eco,1017,3,4,4,5,5,4,5,5,2,5,2,3,2,5,126,124,neutral or dissatisfied
1224,30090,Male,Loyal Customer,7,Personal Travel,Eco,399,4,5,4,4,4,4,4,4,4,3,1,1,4,4,0,1,neutral or dissatisfied
1589,41924,Female,Loyal Customer,58,Business travel,Eco,129,5,3,3,3,3,5,5,5,5,5,5,3,5,5,3,4,satisfied

In [35]:
df_test.set_index('id', inplace=True)
df_test_missing.set_index('id', inplace=True)
df_test.update(df_test_missing[['Arrival Delay in Minutes']])
df_test.reset_index(inplace=True)

In [36]:
df_test.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,3,4,3,4,3,5,5,5,5,2,5,5,50,44.0,satisfied
1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,3,1,5,4,5,4,4,4,4,3,4,5,0,0.0,satisfied
2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,2,4,2,2,2,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,0,2,3,4,4,1,1,1,1,3,1,4,0,6.0,satisfied
4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,4,3,4,1,2,2,2,2,2,4,2,4,0,20.0,satisfied

In [37]:
df_test.isnull().sum().sum()

0

In [38]:
df_test_new = df_test.copy()
df_train_new = df_train.copy()

In [39]:
duplicate_test = df_test_new[df_test_new['id'].duplicated(keep=False)]
duplicate_train = df_train_new[df_train_new['id'].duplicated(keep=False)] 

concatenated_df = pd.concat([df_train_new, df_test_new])
duplicate_concat = concatenated_df[concatenated_df['id'].duplicated(keep=False)]

print(duplicate_test,duplicate_train,duplicate_concat)

Empty DataFrame
Columns: [id, Gender, Customer Type, Age, Type of Travel, Class, Flight Distance, Inflight wifi service, Departure/Arrival time convenient, Ease of Online booking, Gate location, Food and drink, Online boarding, Seat comfort, Inflight entertainment, On-board service, Leg room service, Baggage handling, Checkin service, Inflight service, Cleanliness, Departure Delay in Minutes, Arrival Delay in Minutes, satisfaction]
Index: [] Empty DataFrame
Columns: [id, Gender, Customer Type, Age, Type of Travel, Class, Flight Distance, Inflight wifi service, Departure/Arrival time convenient, Ease of Online booking, Gate location, Food and drink, Online boarding, Seat comfort, Inflight entertainment, On-board service, Leg room service, Baggage handling, Checkin service, Inflight service, Cleanliness, Departure Delay in Minutes, Arrival Delay in Minutes, satisfaction]
Index: [] Empty DataFrame
Columns: [id, Gender, Customer Type, Age, Type of Travel, Class, Flight Distance, Inflight wifi service, Departure/Arrival time convenient, Ease of Online booking, Gate location, Food and drink, Online boarding, Seat comfort, Inflight entertainment, On-board service, Leg room service, Baggage handling, Checkin service, Inflight service, Cleanliness, Departure Delay in Minutes, Arrival Delay in Minutes, satisfaction]
Index: []

In [40]:
def obj_to_int(data_frame):
    for col in data_frame.columns:
        if data_frame[col].dtype == 'object':
            unique_val = data_frame[col].unique()
            temp_map = {}
            for index, val in enumerate(unique_val):
                temp_map[val] = index
            data_frame[col] = data_frame[col].replace(temp_map)
            print(col,temp_map)

In [41]:
obj_to_int(concatenated_df)

Gender {'Male': 0, 'Female': 1}
Customer Type {'Loyal Customer': 0, 'disloyal Customer': 1}
Type of Travel {'Personal Travel': 0, 'Business travel': 1}
Class {'Eco Plus': 0, 'Business': 1, 'Eco': 2}
satisfaction {'neutral or dissatisfied': 0, 'satisfied': 1}

In [42]:
df_train_new = concatenated_df[concatenated_df['id'].isin(df_train['id'])]
df_test_new = concatenated_df[concatenated_df['id'].isin(df_test['id'])]

In [43]:
for mis_var in df_train_new.columns:
    x_value = mis_var
    y_value = 'satisfaction'
    data_frame = df_train_new
    if data_frame[x_value].nunique()<7:
        ANOVA_val = anova_value(data_frame,x_value,y_value)
        print(f'ANOVA value for {mis_var} is {ANOVA_val}')

ANOVA value for Gender is F_onewayResult(statistic=15.495681282193619, pvalue=8.274779839697538e-05)
ANOVA value for Customer Type is F_onewayResult(statistic=3791.6883583474487, pvalue=0.0)
ANOVA value for Type of Travel is F_onewayResult(statistic=26236.004394474192, pvalue=0.0)
ANOVA value for Class is F_onewayResult(statistic=17760.410188756727, pvalue=0.0)
ANOVA value for Inflight wifi service is F_onewayResult(statistic=7928.719681675326, pvalue=0.0)
ANOVA value for Departure/Arrival time convenient is F_onewayResult(statistic=90.6006286966675, pvalue=1.7966676366298476e-95)
ANOVA value for Ease of Online booking is F_onewayResult(statistic=2313.0933863291466, pvalue=0.0)
ANOVA value for Gate location is F_onewayResult(statistic=510.9207904759094, pvalue=0.0)
ANOVA value for Food and drink is F_onewayResult(statistic=1095.4439912248713, pvalue=0.0)
ANOVA value for Online boarding is F_onewayResult(statistic=12875.621274976307, pvalue=0.0)
ANOVA value for Seat comfort is F_onewayResult(statistic=3714.2823856867203, pvalue=0.0)
ANOVA value for Inflight entertainment is F_onewayResult(statistic=4503.613237112662, pvalue=0.0)
ANOVA value for On-board service is F_onewayResult(statistic=2588.2585542137863, pvalue=0.0)
ANOVA value for Leg room service is F_onewayResult(statistic=2782.78754883355, pvalue=0.0)
ANOVA value for Baggage handling is F_onewayResult(statistic=nan, pvalue=nan)
ANOVA value for Checkin service is F_onewayResult(statistic=1369.0090902640482, pvalue=0.0)
ANOVA value for Inflight service is F_onewayResult(statistic=1800.0133602664102, pvalue=0.0)
ANOVA value for Cleanliness is F_onewayResult(statistic=2273.040382424587, pvalue=0.0)
ANOVA value for satisfaction is F_onewayResult(statistic=inf, pvalue=0.0)

C:\Users\subag\anaconda3\Lib\site-packages\scipy\stats\_stats_py.py:4133: DegenerateDataWarning: at least one input has length 0
  warnings.warn(stats.DegenerateDataWarning('at least one input '
C:\Users\subag\anaconda3\Lib\site-packages\scipy\stats\_stats_py.py:4167: ConstantInputWarning: Each of the input arrays is constant;the F statistic is not defined or infinite
  warnings.warn(stats.ConstantInputWarning(msg))

In [44]:
'''
temp_var = ['Departure/Arrival time convenient','Food and drink', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
        'Checkin service', 'Inflight service',
       'Cleanliness']
'''

"\ntemp_var = ['Departure/Arrival time convenient','Food and drink', 'Seat comfort',\n       'Inflight entertainment', 'On-board service', 'Leg room service',\n        'Checkin service', 'Inflight service',\n       'Cleanliness']\n"

In [45]:
temp_var = ['Customer Type', 'Type of Travel', 'Class', 'Flight Distance', 'Inflight wifi service', 
            'Departure/Arrival time convenient', 'Ease of Online booking', 'Gate location', 'Food and drink', 'Online boarding', 
            'Seat comfort', 'Inflight entertainment', 'On-board service', 'Leg room service', 'Checkin service', 'Inflight service', 
            'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes']

In [46]:
from sklearn import linear_model
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

In [47]:
#logreg = LogisticRegression()
#logreg.fit(X_train, y_train)


#y_pred = logreg.predict(X_test)
#y_pred_proba = logreg.predict_proba(X_test)[:, 1]


#accuracy = accuracy_score(y_test, y_pred)
#auc = roc_auc_score(y_test, y_pred_proba)

In [48]:
def auc(variables, target, basetable):
    X = basetable[variables]
    y = basetable[target].values.ravel()
    logreg = RandomForestClassifier(n_estimators=10, random_state=10)
    logreg.fit(X, y)
    predictions = logreg.predict_proba(X)[:,1]
    auc = roc_auc_score(y, predictions)
    return(auc)

In [49]:
def next_best(current_variables,candidate_variables, target, basetable):
    best_auc = -1
    best_variable = None
    for v in candidate_variables:
        auc_v = auc(current_variables + [v], target, basetable)
    if auc_v >= best_auc:
        best_auc = auc_v
        best_variable = v
    return best_variable

In [50]:
candidate_variables = temp_var
current_variables = []
target = ["satisfaction"]
max_number_variables = 10
number_iterations = min(max_number_variables, len(candidate_variables))
for i in range(0,number_iterations):
    next_variable = next_best(current_variables,candidate_variables,target,df_train_new)
    current_variables.append(next_variable)
    candidate_variables.remove(next_variable)
print(current_variables)

['Arrival Delay in Minutes', 'Departure Delay in Minutes', 'Cleanliness', 'Inflight service', 'Checkin service', 'Leg room service', 'On-board service', 'Inflight entertainment', 'Seat comfort', 'Online boarding']

In [51]:
X = df_train_new[current_variables]
y = df_train_new['satisfaction']
    
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=43)

model = RandomForestClassifier(n_estimators=10, random_state=10)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
y_pred_proba = model.predict_proba(X_test)[:, 1]

#mse = mean_squared_error(y_test, y_pred)
#r2 = r2_score(y_test, y_pred)

accuracy = accuracy_score(y_test, y_pred)
auc = roc_auc_score(y_test, y_pred_proba)

#print(f"Mean Squared Error: {mse}")
#print(f"R-squared: {r2}")
print(f"Accuracy: {accuracy}")
print(f"AUC Score: {auc}")

Accuracy: 0.8696405370290169
AUC Score: 0.9314447528921024

In [52]:
df_test_new = df_test_new.copy()
df_test_new['satisfaction'] = model.predict(df_test_new[current_variables]).round().astype(int)
df_test_new.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,19556,1,0,52,1,2,160,5,4,3,4,3,4,3,5,5,5,5,2,5,5,50,44.0,1
1,90035,1,0,36,1,1,2863,1,1,3,1,5,4,5,4,4,4,4,3,4,5,0,0.0,1
2,12360,0,1,20,1,2,192,2,0,2,4,2,2,2,2,4,1,3,2,2,2,0,0.0,0
3,77959,0,0,44,1,1,3377,0,0,0,2,3,4,4,1,1,1,1,3,1,4,0,6.0,0
4,36875,1,0,49,1,2,1182,2,3,4,3,4,1,2,2,2,2,2,4,2,4,0,20.0,0

In [53]:
for i in range(df_test['Gender'].nunique()):
    print(i)

0
1

In [54]:
#!pip install sqlalchemy

In [55]:
#%load_ext sql
#import csv, sqlite3
#con = sqlite3.connect("my_data1.db")
#%sql sqlite:///my_data1.db
#df_train.to_sql("SPACEXTBL", con, if_exists='replace', index=False)

In [56]:
#%%sql 
#SELECT DISTINCT "Customer Type" FROM SPACEXTBL

In [57]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25976 entries, 0 to 25975
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 25976 non-null  int64
 1   Gender                             25976 non-null  object
 2   Customer Type                      25976 non-null  object
 3   Age                                25976 non-null  int64
 4   Type of Travel                     25976 non-null  object
 5   Class                              25976 non-null  object
 6   Flight Distance                    25976 non-null  int64
 7   Inflight wifi service              25976 non-null  int64
 8   Departure/Arrival time convenient  25976 non-null  int64
 9   Ease of Online booking             25976 non-null  int64
 10  Gate location                      25976 non-null  int64
 11  Food and drink                     25976 non-null  int64
 12  Online boarding                    25976 non-null  int64
 13  Seat comfort                       25976 non-null  int64
 14  Inflight entertainment             25976 non-null  int64
 15  On-board service                   25976 non-null  int64
 16  Leg room service                   25976 non-null  int64
 17  Baggage handling                   25976 non-null  int64
 18  Checkin service                    25976 non-null  int64
 19  Inflight service                   25976 non-null  int64
 20  Cleanliness                        25976 non-null  int64
 21  Departure Delay in Minutes         25976 non-null  int64
 22  Arrival Delay in Minutes           25976 non-null  float64
 23  satisfaction                       25976 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 4.8+ MB

In [58]:
model

RandomForestClassifier(n_estimators=10, random_state=10)

In [61]:
import joblib

In [62]:
# Save the model
joblib.dump(model, "Air_line_model.pkl")

['Air_line__model.pkl']